name: Ubuntu Deb Package Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04
    
    steps:
    - name: Install prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y qtbase5-dev libqt5svg5-dev debhelper devscripts
    - uses: actions/checkout@v3
    - name: debuild
      run: debuild -us -uc
    - name: Archive compiled binary
      uses: actions/upload-artifact@v4
      with:
       name: deb
       path: /home/runner/work/WordSearchCreator/wordsearchcreator_*_amd64.deb
